// #errorImg{
//   background-image:url("../../../assets/Error404NotFound.png");
//   background-repeat: no-repeat;

// }
/* Centered text */
.centered {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
}
