<div class="flex justify-center">
  <div class="flex flex-col lg:flex-row justify-evenly items-center " id="errorImg">
    <img src="assets/mike.png" alt="Error 404" class="w-[70vw] lg:w-[20vw]" />
    <div class="lg:ps-24 text-center lg:text-left w-[80vw] lg:w-[35vw]">
      <h1 class="font-extrabold text-5xl lg:text-6xl text-gray-300 pb-5">OOPS! Page</h1>
      <h1 class="font-extrabold text-5xl lg:text-6xl text-gray-300 pb-5">Not Found.</h1>
      <p class="font-medium text-xl text-gray-300">you must have picked a wrong door because I haven't been able to lay my eye on the page you are searching for.</p>
      <button class="mt-6 w-3/4 h-[8vh] lg:w-80 rounded-xl text-2xl bg-orange-600 py-1.5 text-blue-50 hover:bg-orange-700" [routerLink]="['/home']">Back to Home</button>
    </div>
  </div>
</div>
