<nav class="bg-gray-800 border-b-[1.5px] border-gray-300">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-2">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          (click)="toggleMenu = !toggleMenu"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <img class="h-12 w-auto" src="assets/Logo.png" alt="logo" />
        </div>
        <div class="hidden sm:ml-32 sm:block">
          <div class="flex space-x-4 mt-1 justify-center items-center">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              [routerLink]="['/home']"
              [routerLinkActive]="['bg-gray-900', 'text-white']"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page"
              >
              <i class="fa-solid fa-house inline pe-2"></i>Home</a
            >
            <a
              [routerLink]="['/store']"
              [routerLinkActive]="['bg-gray-900', 'text-white']"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              ><i class="fa-solid fa-shop inline pe-2"></i>Store</a
            >
            <a
              [routerLink]="['/about']"
              [routerLinkActive]="['bg-gray-900', 'text-white']"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              ><i class="fa-solid fa-circle-info inline pe-2"></i>About</a
            >
            <div class="min-w-[25rem]">

            </div>
            <a
              *ngIf="!authService.isLoggedIn()"
              [routerLink]="['/signin']"
              [routerLinkActive]="['bg-gray-900', 'text-white']"
              class="ms-[50vw] text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              ><i class="fa-solid fa-right-to-bracket inline pe-2"></i>Sign In</a
            >
            <a
              *ngIf="!authService.isLoggedIn()"
              [routerLink]="['/signup']"
              [routerLinkActive]="['bg-gray-900', 'text-white']"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              ><i class="fa-solid fa-file-signature inline pe-2"></i>Sign Up</a
            >
          </div>
        </div>
      </div>

      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <div class="relative mx-3">
          <!-- Cart Button  -->
          <button
            *ngIf="authService.isLoggedIn()"
            type="button"
            (click)="
              cartMenuToggle = !cartMenuToggle; profileMenuToggle = false
            "
            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          >
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View Cart</span>
            <div class="text-xl w-6 h-6 text-center">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <span class="sr-only">Cart</span>
            <div
              class="absolute inline-flex items-center justify-center w-5 h-5 text-xs pt-1 font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-800"
            >
              {{cartBadge}}
            </div>
          </button>
          <!-- Cart Menu -->
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            *ngIf="cartMenuToggle"
            (mouseleave)="cartMenuToggle = !cartMenuToggle"
            tabindex="-1"
          >
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <div class="px-4 py-2 flex justify-between items-center">
              <span class="font-medium">{{cartItems.length}} Items </span>
              <a
                class="text-gray-600 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                [routerLink]="['/cart']"
                [routerLinkActive]="['bg-gray-900', 'text-white', '']"
                >View Cart</a
              >
            </div>
            <!-- First Horizontal Line seperator -->
            <div class="flex justify-center pb-2">
              <hr class="w-[86%]" />
            </div>
            <!-- Cart Items Section -->
            <div *ngIf="!cartItems.length" class="w-full flex flex-col justify-center items-center mb-4">
              <img class="w-3/5" src="assets/empty-cart.png" alt="empty">
              <p class="text-red-800 font-bold">Nothing Here</p>
            </div>
            <div *ngFor="let item of cartItems" class="flex justify-between px-6 py-2 text-sm text-gray-700">
              {{item?.title}}
              <span class="font-bold">{{ item?.price | currency }}</span>
            </div>

            <!-- Second Horizontal Line seperator -->
            <div class="flex justify-center">
              <hr class="w-[86%]" />
            </div>
            <!-- Total price section -->
            <div class="flex justify-between px-6 py-2 text-gray-700">
              Total:
              <span class="font-bold">{{ getTotalPrice() | currency }}</span>
            </div>
            <!-- <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              >Cart Item 3</a
            > -->
            <!-- Check out and Clear Button -->
            <div class="flex justify-between px-6 py-2 text-gray-700">
              <div class="text-3xl text-red-600 hover:cursor-pointer" (click)="emptyCart()">
                <i class="fa-solid fa-ban"></i>
              </div>

              <div class="text-3xl text-green-600 hover:cursor-pointer" [routerLink]="['/cart']">
                <i class="fa-regular fa-circle-check"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              *ngIf="authService.isLoggedIn()"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              (click)="
                profileMenuToggle = !profileMenuToggle; cartMenuToggle = false
              "
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="{{user?.profilePicture}}" alt="" />
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            *ngIf="profileMenuToggle"
            (mouseleave)="profileMenuToggle = !profileMenuToggle"
            tabindex="-1"
          >
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <span
              class="block px-4 py-2 font-semibold text-lg text-gray-800"
              >Welcome {{user?.username}}</span
            >
            <span
              class="block px-4 py-2 text-sm text-gray-800"
              >Role: {{user?.role}}</span
            >
            <a
              class="block px-4 py-2 text-sm text-gray-700 hover:cursor-pointer"
              role="menuitem"
              (click)="logOut()"
              tabindex="-1"
              id="user-menu-item-2"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" *ngIf="toggleMenu" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        [routerLink]="['/home']"
        [routerLinkActive]="['bg-gray-900', 'text-white']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        aria-current="page"
        >Home</a
      >
      <a
        [routerLink]="['/store']"
        [routerLinkActive]="['bg-gray-900', 'text-white']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Store</a
      >
      <a
        [routerLink]="['/about']"
        [routerLinkActive]="['bg-gray-900', 'text-white']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >About</a
      >
      <a
        *ngIf="!authService.isLoggedIn()"
        [routerLink]="['/signin']"
        [routerLinkActive]="['bg-gray-900', 'text-white']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Sign In</a
      >
      <a
        *ngIf="!authService.isLoggedIn()"
        [routerLink]="['/signup']"
        [routerLinkActive]="['bg-gray-900', 'text-white']"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
        >Sign Up</a
      >
    </div>
  </div>
</nav>
