<div class="flex items-center justify-center min-h-screen">
  <div class="flex flex-col justify-center items-center">
    <!-- Notes -->
    <span class="flex flex-col justify-center items-center text-gray-900 text-center font-bold text-5xl my-10">
      Our games attract millions and define genres.
      <p class="text-2xl w-1/2 text-center py-5">
        Our platform connects players with the world's greatest entertainment.
        We serve as a digital content distribution
        channel. It's since grown and evolved into a
        platform for thousands of creators and publishers to deliver content and
        establish direct relationships with their customers. The Steam Community
        enables millions of players to do likewise, sharing entertainment and
        ideas, and making friends.
      </p>

    </span>
    <!-- <hr class="my-4 bg-cyan-400" /> -->
    <div class="flex flex-col mt-8">
      <!-- Meet the Team -->
      <div class="container">
        <!-- Section Header -->
        <div class="flex justify-center text-center w-full mb-10">
          <div class="w-full lg:w-full px-4">
            <!-- Header -->
            <h1 class="text-gray-900 text-4xl font-bold mb-8 text-center">
              Meet the Developer
            </h1>

            <!-- Description -->
            <p class="text-gray-900 text-lg font-light">
              ITI & Ain Shams university Graduate.
            </p>
          </div>
        </div>

        <!-- Team Members -->
        <div class="flex w-full justify-center">
          <!-- Member #1 -->
          <div class="w-full md:w-6/12 mb-6 px-6 sm:px-6 lg:px-4">
            <div class="flex flex-col">
              <!-- Avatar -->
              <a href="#" class="mx-auto">
                <img
                  class="rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                  src="assets/me (2).jpg"
                />
              </a>

              <!-- Details -->
              <div class="text-center mt-6">
                <!-- Name -->
                <h1 class="text-gray-900 text-xl font-bold mb-1">
                  Abdelrahman M. Ayman
                </h1>

                <!-- Title -->
                <div class="text-gray-900 font-light mb-2">
                  Junior Full-Stack Web Developer
                </div>

                <!-- Social Icons -->
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  <!-- Linkedin -->
                  <a
                    href="https://github.com/AbdoAyman753"
                    class="flex flex-col justify-center items-center text-center rounded-full text-3xl hover:bg-indigo-50 h-10 w-10"
                  >
                    <i class="fa-brands fa-github pt-[0.1rem] pr-[0.1rem]"></i>
                  </a>

                  <!-- Twitter -->
                  <a
                    href="https://www.linkedin.com/in/abdelrahman-mayman/"
                    class="flex flex-col justify-center items-center text-center text-3xl rounded-full hover:bg-blue-50 h-10 w-10"
                  >
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
