<div class="flex justify-center items-center box-border p-2 cursor-pointer">
  <div
    class="w-80 card max-w-sm h-[450px] min-h-[450px] rounded-xl overflow-hidden bg-gray-800 shadow-[0px_5px_8px_1px_rgba(0,0,0,0.5)] hover:shadow-[0px_15px_20px_10px_rgba(0,0,0,0.5)] hover:scale-[102%] transition-all"
  >
    <img
      class="w-full"
      src={{game?.coverImage}}
      alt="Sunset in the mountains"
    />

    <div id="textArea">
      <div class="px-6 py-4 card-details-cont">
        <div class="font-bold text-lg mb-2 text-white">{{game?.title}}</div>
        <p class="text-slate-100 text-base max-h-[72px]">
          {{game?.description}}
        </p>
      </div>
    </div>
    <div class="px-6 pb-2">
      <span
        *ngFor="let category of game?.categories"
        class="inline-block bg-slate-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-800 mr-2 mb-2"
        >{{category?.name}}</span
      >
    </div>
    <div class="flex flex-col items-center justify-center text-white text-xl">
      <div>
        {{game?.price | currency}}
      </div>
      <!-- <span class="text-white pt-[3.5rem]">like   cart</span> -->
      <div id="addToCart" class="invisible text-white text-3xl">
        <i class="fa-solid fa-circle-plus"></i>
      </div>
    </div>
  </div>
</div>
